@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 dark:bg-slate-900 text-slate-900 dark:text-slate-100 transition-colors duration-300;
}

html {
  @apply transition-colors duration-300;
}
